<ng-container *ngIf="showChart">
    <alk-chart [columns]="optionChart.columns" [type]="optionChart.type" [labels]="optionChart.labels" [colors]="optionChart.colors"
               [chartData]="chartData" [withAnimation]="false"  [withValueOnChart]="true" legendClass="chart-legend" [font]="{size: 14}" locale="fr-FR">
    </alk-chart>
</ng-container>
