<alk-dynamic-html *ngIf="validParams; else invalidParams" [content]="templateContent"></alk-dynamic-html>
<ng-template #invalidParams>
  <small>Paramètres de requête invalides.</small>
</ng-template>
