<ng-container *ngIf="canShow">
  <alk-ol-map id="visualiseur" >
    <div id="main-map-container"></div>
    <div id="map-container"></div>
  </alk-ol-map>
  <alk-visualiseur-core></alk-visualiseur-core>
</ng-container>
