// You can add global styles to this file, and also import other style files */

@import "variables.scss";
@import "~bootstrap/dist/css/bootstrap.css";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}
/*
=====================
      Bootstrap
=====================
*/

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/reboot";
@mixin theme($name, $primary, $secundary, $secondaryLight, $navBg, $grey, $greyLight) {
  $theme-colors: (
      "primary": $primary,
      "secondary": $secundary,
      "secondary-light": $secondaryLight,
      "nav-bg": $navBg,
      "grey": $grey,
      "grey-light": $greyLight,
  ) !global;

  .#{$name} {





  }
}

#title.long-title h3 {
  font-size: 1.15rem !important;
}

#title, #subtitle, #comment {
  color: theme-color();
}

alk-sidebar, alk-layers-legend {
  #sidebar,
  #sidebar-closed-btn {
    button:not(.btn-link),
    alk-add-layer {
      background-color: theme-color("secondary-light");
    }
    .darker {
      background-color: theme-color("secondary");
    }
  }

  #sidebar {
    header {
      @media (max-width: 991px) {
        background-color: theme-color("secondary");
        #sidebar-title {
          color: theme-color("secondary");
        }
      }
      @media (min-width: 992px) {
        background-color: theme-color("secondary-light");
        #sidebar-title {
          color: theme-color("secondary-light");
        }
      }
    }
    .list-group {
      .list-group-item {
        color: theme-color();
      }
      .list-group-item[aria-expanded="true"]::before,
      .list-group-item[aria-expanded="false"]::before {
        color: theme-color("secondary-light");
      }
      /* level 2*/
      .collapse > .collapse .list-group-item,
      .collapse > .collapsing .list-group-item {
        color: theme-color("secondary-light");
      }
      .list-group-item.disabled,
      .list-group-item.disabled a {
        color: theme-color("grey-light") !important;
      }
      /* level 3*/
      .collapse > .collapse > .collapse .list-group-item {
        color: theme-color("secondary-light");
      }
    }
  }

  .sidebar-btn a {
    background-color: theme-color("secondary-light");
  }

  .sidebar-btn button.darker,
  .sidebar-visualisation-btn button.darker {
    background-color: theme-color("secondary");
  }

}

html, body, alk-dynamic-html {
  height: 100vh;
  width: 100vw;
  min-width: 100%;
  margin: 0;
}

app-root, alk-dynamic-html, alk-ol-map {
  display: block;
}

alk-ol-map {
  position: relative;
  display: block;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
  .ol-viewport:not(:last-child) {
    display: none;
  }
}

.row {
  width: 100%;
}

.map-row {
  height: 600px;
}

.map-row.long-title {
  height: 575px;
}

canvas {
  width: 100%;
}


#sidebar {
  top: 0 !important;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  header {
    width: 100% !important;
  }
  #tabs-container, .list-group.panel {
    width: 100% !important;
    height: 100% !important;
    overflow-y: visible !important;
  }
  .layergroupbox {
    padding-top: 0.75rem !important;
  }
}
#sidebar-visualisation {
  bottom: 0px !important;
  right: inherit !important;
  left: 13px !important;
}
#sidebar-visualisation {
  display: flex !important;
  margin: auto !important;
  position: inherit !important;

  .ol-overviewmap {
    position: inherit !important;
    display: flex !important;
  }
}

#sidebar-visualisation .d-flex:first-child {
  margin: auto !important;
  box-shadow: none !important;
}

alk-layers-legend #layers-legend #tabs-container,
alk-layers-legend #layers-legend #tabs-container .panel
{
  display: flex;
  // height: 100% !important;
}


.list-group.panel.flex-grow-1 {
  overflow-y: hidden;
}

.legendItem span.flex-grow-1, .showlegend span {
  font-size: 12px;
}

alk-controls-scale-line, alk-map-scale-dropdown {
  .map-footer-item {
    padding: 0px;
    box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
    background-color: #fff;
    font-size: 0.75rem;
    margin-left: 15px;

    #scaleLine {
      display: block;
      padding: 7px 15px;
      pointer-events: auto;
      -webkit-user-select: all;
      -moz-user-select: all;
      -ms-user-select: all;
      user-select: all;
    }
  }
}

alk-map-scale-dropdown {
  .map-footer-item {
    display: block;
    padding: 2px 7px;
    color: theme-color();
    box-shadow: 0 2px 4px 0 rgba(174, 174, 174, 0.5);
    background-color: #fff;
    #dropdownScale {
      color: theme-color() !important;
    }
    #dropdownScale::after {
      display: none;
    }
  }
}

.map-row .col-1,
.map-row .col-2,
.map-row .col-3,
.map-row .col-4,
.map-row .col-5,
.map-row .col-6,
.map-row .col-7,
.map-row .col-8,
.map-row .col-9,
.map-row .col-10,
.map-row .col-11,
.map-row .col-12 {
  position: relative;
}

#container-foncier {
  font-size: 0.7rem;
  h6, p {
    font-size: 0.8rem;
  }
}

.map-row #map-container {
  position: relative;
  width: 100% !important;
  height: 100% !important;

  #keymap {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .landscape alk-controls-scale-line, .landscape alk-map-scale-dropdown {
    position: absolute;
    bottom: 30px;
    right: 20px;
  }

  .portrait  alk-controls-scale-line, .portrait alk-map-scale-dropdown {
    position: absolute;
    bottom: 100px;
    right: 20px;
  }

  alk-controls-scale-line, alk-map-scale-dropdown {
    div.scale-line-inner {
      padding-left: .5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      border-left: 1px solid black;
    }
  }

  .workDocument {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;/*
    transform: translate(-50%, -50%); */
    color:red;
    font-size:30px;
    font-weight:bold;
    -moz-transform:rotate(-45deg); /*firefox*/
    -webkit-transform:rotate(-45deg); /*Chrome, Safari*/
    -o-transform:rotate(-45deg); /*Opera*/
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.map-row #map-container.portrait {
  alk-controls-scale-line, alk-map-scale-dropdown {
    bottom: 115px;
  }
}

.map-row #map-container.landscape {
  alk-controls-scale-line, alk-map-scale-dropdown {
    bottom: 95px;
  }
}

.list-group-item.showlegend.d-flex {
  padding: .65rem .35rem 0.15rem .55rem !important;
  max-width: 100% !important;
}

.legendddd, .legenddd {
  max-width: 100% !important;
}

.logo {
  max-height: 50px
}

.long-title .logo {
  height: 90px;
  max-height: 90px !important;
}

.h-50 {
  height: 50% !important;
}

.h-80 {
  height: 80% !important;
}

.h-70 {
  height: 70% !important;
}

.h-30 {
  height: 30% !important;
}

.h-20 {
  height: 20% !important;
}

#visualiseur #map-container alk-map-visualisation .ol-control {
  position: relative !important;
}
#map-container{
  height: 800px;
}
.foncier-copyright {
  line-height: 1 !important;
  font-size: 0.7rem;
}

#main-map-container{
  height: 800px;
}
.legendFormImg {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.table-list {
  border-collapse: collapse;
  width: 100%;

}

.table-list td, .table-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-list tr:nth-child(even){background-color: #f2f2f2;}

.table-list tr:hover {background-color: #ddd;}

.table-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
alk-display-field{
  display: inline-block;
}

.chart-legend-text::first-letter{
  text-transform: capitalize;
}

.chart-center{
  margin: auto;
  width: 800px;
}

.chart-legend{
  align-items : center;
  cursor : pointer;
  display : flex;
  flex-direction : row;
  margin-left : 10px;
  margin-top : 15px;
}

.chart-legend span{
  display : inline-block;
  height : 20px;
  margin-right : 10px;
  min-width : 20px;
}

.chart-legend p{
  margin : 0;
  padding : 0;
  text-transform : lowercase;
}

.chart-legend p::first-letter{

  text-transform : capitalize;
}
.font-style alk-legend-lite {
  font-size: 0.9rem;
}
